<%- include("../partials/head") %>
<title>Hata</title>
<style>
  body{
  margin:0;
  padding:0;
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width:100vw;
  height:100vh;
  }
</style>
<body class="bg-dark">
<h3 class="text-danger">404</h3><br>
<b class="text-light">Bu sayfaya ulaşılamıyor <a href="/">Anasayfaya dön</a></b>
</body>