<div class="footer-dark bg-dark ">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Hizmetler</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Hakkımızda</h3>
                        <ul>
                            <li><a href="#">Şirket</a></li>
                            <li><a href="#">Takım</a></li>
                            <li><a href="#">Kariyer</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Şirket adı</h3>
                        <p>
                      "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."

                      </p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon fab fa-github"></i></a><a href="#"><i class="icon fab fa-youtube"></i></a><a href="#"><i class="icon fab fa-twitter"></i></a><a href="#"><i class="icon fab fa-instagram"></i></a></div>
                </div>
                <p class="copyright">Şirket adı © 2022</p>
            </div>
        </footer>
    </div>